body {
    /* background-color: #000; */
}
h1 {
    margin: 0 0 0.3em 0.2em;
}
table {
    width: 100%;
    border-collapse: collapse;
}
td, th {
    padding: 10px;
    border: 1px solid #000;
}
th {
    background-color: gray;
}
.gray_tr {
    background-color: lightgray;
}
.center_td {
    text-align: center;
}
