body {
    /* background-color: #000; */
}
h1 {
    margin: 0 0 0.3em 0.2em;
}
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
td, th {
    padding: 10px;
    border: 1px solid #000;
}
th {
    background-color: gray;
}
.gray_tr {
    background-color: lightgray;
}
.status_th {
    width: 20%;
}
.status_td {
    text-align: center;
    white-space: nowrap;
}
.app_name_td, .pkg_name_td {
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
