<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>晚安安</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-app="myApp" ng-controller="myCtrl">
    <h1>晚安安</h1>
    <p>{{time_range}}</p>
    <div class="one_day" ng-repeat="day in days">
        <div ng-repeat="evn in day.at(1)"
            style="left:{{evn.left}}%;width:{{evn.width}}%;"
            ng-click="ShowTimeRange(evn.time_range)"
            ng-attr-title="{{evn.time_range}}"></div>
        <span>{{day[0]}}</span>
        <div style="left:33.33%;width:1px;background:red;"></div> <!--08:00-->
        <div style="left:95.83%;width:1px;background:red;"></div> <!--23:00-->
        <div style="left:25%;width:1px;background:blue;"></div> <!--06:00-->
        <div style="left:50%;width:1px;background:blue;"></div> <!--12:00-->
    </div>

    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/event.js"></script>
<script>
    var weekday_zh = ["日", "一", "二", "三", "四", "五", "六"];
    var KEYGUARD_SHOWN = 17;  //锁屏
    var KEYGUARD_HIDDEN = 18; //解锁
    var app = angular.module('myApp', []);
    function compare(a, b) {
        if (a.sec_of_day < b.sec_of_day) {
            return -1;
        }
        if (a.sec_of_day > b.sec_of_day) {
            return 1;
        }
        return 0;
    }
    // (new Date()).Format("yyyy-MM-dd hh:mm:ss.S") ==> 2006-07-02 08:09:04.423
    // (new Date()).Format("yyyy-M-d h:m:s.S")      ==> 2006-7-2 8:9:4.18
    Date.prototype.Format = function(fmt) {
        var o = {
            "M+" : this.getMonth()+1,                 //月份
            "d+" : this.getDate(),                    //日
            "h+" : this.getHours(),                   //小时
            "m+" : this.getMinutes(),                 //分
            "s+" : this.getSeconds(),                 //秒
            "q+" : Math.floor((this.getMonth()+3)/3), //季度
            "S"  : this.getMilliseconds()             //毫秒
        };
        if(/(y+)/.test(fmt))
            fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));
        for(var k in o)
            if(new RegExp("("+ k +")").test(fmt))
        fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
        return fmt;
    }
    var eventsDb = eventsTest;
    if (window.navigator.userAgent.indexOf("Edg") == -1) {
        eventsDb = window.MyUsage.GetAllEvent();
        eventsDb = JSON.parse(eventsDb);
    }

    app.controller('myCtrl', function($scope, $http) {
        days = {};
        for (var key in eventsDb) {
            var time = new Date(parseInt(key));
            var date = time.Format("yyyy-MM-dd（") + weekday_zh[time.getDay()] + "）";
            var second = time.getSeconds() + 60*(time.getMinutes() + 60*time.getHours());
            if (days[date] == null) {
                days[date] = [];
            }
            days[date].push({
                sec_of_day: second,          //当天的秒数
                type: eventsDb[key],         //事件类型 (17 or 18)
                clock: time.Format("hh:mm")  //小时和分钟
            });
        }
        // days = {"2022-01-01": [{sec_of_day: 123, type:17}, ...], "2022-01-02": ...}
        var daySec = 24*60*60;
        for (var key in days) {
            var events = days[key];
            events.sort(compare); //把一天的所有事件按时间排序
            // 锁屏-->解锁  做一个灰色<div>
            if (events[0].type != KEYGUARD_SHOWN) {
                //一天最开始必须是锁屏
                events.unshift({sec_of_day:0, type:KEYGUARD_SHOWN, clock:"00:00"})
            }
            if (events.at(-1).type != KEYGUARD_HIDDEN) {
                //一天最后必须是解锁
                events.push({sec_of_day:daySec, type:KEYGUARD_HIDDEN, clock:"24:00"})
            }
            days[key] = []
            var one_div_ok = true;
            for (var i in events) {
                if (events[i].type == KEYGUARD_SHOWN) {
                    if (!one_div_ok) continue; //连续多个锁屏事件
                    days[key].push({
                        left: events[i].sec_of_day/daySec*100, //div左边位置百分比
                        start_sec: events[i].sec_of_day,       //记录一下div开始的秒数,用于计算宽度
                        time_range: events[i].clock + " ~ ",   //时间范围
                    })
                    one_div_ok = false;
                }
                if (days[key].length > 0 && events[i].type == KEYGUARD_HIDDEN) {
                    if (one_div_ok) continue; //连续多个解锁事件
                    div = days[key].at(-1);
                    div.width = (events[i].sec_of_day - div.start_sec)/daySec*100;
                    div.time_range += events[i].clock;
                    one_div_ok = true;
                }
            }
        }
        // days = {"2022-01-01": [{left: 12.34, width:23.45}, ...], "2022-01-02": ...}
        $scope.days = Object.entries(days);
        // $scope.days = [ ["2022-01-01", [{left: 12.34, width:23.45}, ...] ], [ "2022-01-02", [...] ] ...}
        $scope.days.sort();
        $scope.time_range = "点击灰色区域显示时间范围";
        console.log("\n浏览器类型：\n\n" + window.navigator.userAgent);
        $scope.ShowTimeRange = function(time_range) {
            $scope.time_range = time_range;
        }
    });
</script>
</body>
</html>