<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>zBox</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-app="myApp" ng-controller="myCtrl">
    <h1>zBox</h1>

    <table>
        <tr>
            <th>状态</td>
            <th>应用</td>
        </tr>
        <tr ng-repeat="app in apps" class="{{GetClass(app)}}">
            <td class="center_td" ng-click="Freeze(app)">
                {{app.is_hidden?"已冻结":"已解冻"}}
            </td>
            <td ng-click="OpenApp(app)">
                <div>{{app.app_name}}</div>
                <div>{{app.pkg_name}}</div>
            </td>
        </tr>
    </table>

    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/apps.js"></script>
<script>
    var is_debug = window.navigator.userAgent.indexOf("Edg") != -1;

    function compare(a, b) {
        if (a.app_name < b.app_name) return -1;
        if (a.app_name > b.app_name) return 1;
        return 0;
    }

    var apps = apps_test;
    if (!is_debug) {
        apps = window.JsServer.GetAppList();
        apps = JSON.parse(apps);
    }
    apps.sort(compare);

    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope, $http) {
        $scope.apps = apps;

        $scope.Freeze = function(app) {
            if (!is_debug) {
                var re = window.JsServer.Freeze(app.pkg_name, !app.is_hidden);
                if (!re) {
                    alert("操作失败, 请检查zBox是否设备管理员!");
                    return;
                }
            }
            app.is_hidden = !app.is_hidden;
        };

        $scope.OpenApp = function(app) {
            if (!is_debug) {
                // 打开APP
            }
        };

        $scope.GetClass = function(app) {
            if (app.is_hidden) {
                return "gray_tr";
            }
            return "";
        };

    });
</script>
</body>
</html>